<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.delware.classhub">

    <!-- Needed for recording audio -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- Needed for recording video -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- Needed for saving recorded video -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- Needed for saving recorded video -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.activeandroid.app.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="AA_DB_NAME"
            android:value="ClassHubDB.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="4" />
        <meta-data
            android:name="AA_MODELS"
            android:value="com.delware.classhub.DatabaseModels.ClassModel, com.delware.classhub.DatabaseModels.AssignmentModel, com.delware.classhub.DatabaseModels.AudioRecordingModel, com.delware.classhub.DatabaseModels.VideoRecordingModel, com.delware.classhub.DatabaseModels.NoteModel" />
        <meta-data
            android:name="AA_SERIALIZERS"
            android:value="com.delware.classhub.DatabaseTypeSerializers.UtilDateSerializer" />

        <activity android:name=".Activities.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.ClassActivity" />
        <activity android:name=".Activities.ViewAssignmentsActivity" />
        <activity android:name=".Activities.AudioRecordingsActivity" />
        <activity android:name=".Activities.RecordAudioActivity" android:screenOrientation="portrait"/>
        <activity android:name=".Activities.ViewAudioRecordingsActivity" />
        <activity android:name=".Activities.PlayAudioRecordingActivity" />
        <activity android:name=".Activities.VideoRecordingsActivity" />
        <activity android:name=".Activities.ViewVideoRecordingsActivity" />
        <activity android:name=".Activities.PlayVideoRecordingActivity" />
        <activity android:name=".Activities.NotesActivity" />
        <activity android:name=".Activities.CreateNoteActivity" />
        <activity android:name=".Activities.ViewNotesActivity" />
        <activity android:name=".Activities.ViewEditNoteActivity"></activity>
    </application>

</manifest>